<html>
    <body>
        <script>
            var a=0
           
            document.getElementById('pop').innerHTML="hello"
            function Clicks(){
                a+=1
                console.log(a)
                
            }

        </script>
        <h1 id="pop"></h1>
        <button onclick="Clicks()">Clicks</button>
    </body>
</html>